@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

:root {
    --primary-bg: #1e1e1e;
    --secondary-bg: #343541;
    --tertiary-bg: #40414e;
    --quaternary-bg: #2a2a2a;
    --quinary-bg: #4c4d5c;
    --border-color: rgb(86, 88, 105);
    --secondary-border-color: rgb(104, 106, 125);
    --text-color: #fff;
    --secondary-text-color: #000;
    --transparent-bg: rgba(0, 0, 0, .7);
    --px: 5px;
}

* {
    color: var(--text-color);
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: var(--primary-bg);
    width: 4in;
}

.search-zone {
    display: flex;
    gap: calc(var(--px) / 2);
    width: 100%;
}

button {
    background-color: var(--secondary-bg);
    border: 1px solid var(--border-color);
    border-radius: calc(var(--px) + 3px);
    padding: var(--px) calc(var(--px) * 1.5);
    cursor: pointer;

    &:hover {
        background-color: var(--tertiary-bg);
    }
}

input,
textarea {
    outline: none;
    border-radius: calc(var(--px) + 3px);
    border: 1px solid var(--border-color);
    background-color: var(--secondary-bg);
    padding: var(--px) calc(var(--px) * 1.5);
    width: 100%;

    &:focus {
        border-color: var(--secondary-border-color);
    }
}

#repo {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--px) / 2);
    margin-top: var(--px);

    button {
        padding: calc(var(--px) * 2);
    }
}

.action {
    background-color: var(--quaternary-bg);
    margin-top: var(--px);
    border-radius: calc(var(--px) + 3px);
    padding: 0 calc(var(--px) + 3px);
    height: 0;
}

.action-label {
    display: flex;
    align-items: center;

    input {
        width: max-content;
    }

    &.custom-label {
        align-items: flex-end;
        justify-content: space-between;

        &>div:first-child>div {
            margin-bottom: calc(var(--px) + 2px);

            &>.custom-prompt-input {
                margin-top: var(--px);
            }

            .custom-prompt-zone {
                display: flex;
                align-items: flex-end;
                gap: var(--px);
                margin-top: var(--px);

                textarea {
                    resize: none;
                    width: calc(100% / 1.47);
                }
            }
        }

        .custom-prompt-help {
            color: var(--quinary-bg);
            user-select: none;
            font-size: calc(var(--px) * 2.7);
            width: max-content;
            position: relative;
            top: calc(var(--px) / 2);
            filter: brightness(1.8);
            cursor: default;

            &:hover {
                filter: brightness(1.5);
            }
        }
    }
}

#updates-found {
    font-weight: bold;
    margin-bottom: calc(var(--px) * 2.5);
    font-size: calc(var(--px) * 3.5);
}

.alert {
    position: fixed;
    left: 50%;
    top: calc(var(--px) * 2);
    transform: translateX(-50%) scale(.8);
    background-color: var(--quaternary-bg);
    padding: calc(var(--px) + 3px);
    border-radius: calc(var(--px) + 3px);
    border: 1px solid var(--border-color);
    box-shadow: 0 0 calc(var(--px) / 2) var(--secondary-text-color);
    cursor: default;
    opacity: 0;
    transition: 200ms;
    transition-property: opacity, transform;
}

.custom-prompt-instructions {
    background-color: var(--transparent-bg);
    border: 1px solid var(--border-color);
    border-radius: var(--px);
    padding: calc(var(--px) + 3px);
    position: absolute;
    pointer-events: none;
}

::-webkit-scrollbar {
    width: calc(var(--px) + 3px);
}

::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-bg);
    border-radius: var(--px);

    &:hover {
        background-color: var(--quinary-bg);
    }
}